.memorial {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // background: url("./images/bg.jpeg") center center no-repeat;
  // background-size: cover;
  position: relative;
  background-color: #f6ffed;
  display: flex;
  justify-content: center;
  align-items: center;
}
